# Python
__pycache__/
**/**.pyc
*.py[cod]
*.sqlite3
*.log

# Virtual environment
venv/
env/
*.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.db

# Miscellaneous
*.egg-info/
build/
dist/

# Model files
**/**.pt

# Environment files
**/**.env
